body,
body * {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.content {
    margin: 64px auto;
    padding: 20px;
    border: 1px solid #a1a1a1;
    border-radius: 10px;
    background-color: #f0f0f0;
    width: 50%;
}